<a href="https://colab.research.google.com/github/JulianaGeyer-Kim/Project-1/blob/main/If_else_even_odd_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input(''))
if x % 2 == 0:
  print('Even')

else:
  print('Odd')

#remember indent is necessary after if/else statement, and semicolon after if/else

5
Odd

In [ ]:
# deposit > 10,000.     int rate = 3.5%
# 1,000 < deposit int =.

deposit = float(input('enter the deposit amount: '))

if deposit > 10000:
  ir = 3.5

elif deposit <= 10000:
 ir = 3.0

total = (1+ ir/100) * deposit

print(f'deposit at the end of the year: (round(total, 2)')
#round--rounds numbers, 2 is 2 decimal points

enter the deposit amount: 2349
deposit at the end of the year: (round(total, 2)

In [ ]:
customer_type = input('Enter customer type (n: new, e: existing): ')
deposit = (float(input)('enter deposit amount'))

if customer_type == 'e' :
  if(deposit > 1000):
    ir = 3.5

  elif deposit > 10000:
    ir = 3.0

  else:
   ir = 3.8
else:
  ir = 3.0


total = (1+ ir/100) * deposit

print(f'deposit at the end of the year: (round(total, 2)')

Enter customer type (n: new, e: existing): 45783

TypeError: float() argument must be a string or a real number, not 'method'

In [ ]:
if x%2 == 0: # <-- first checks if x%2 equals to zero
    if x%3 == 0: # <-- if x%2 indeed equals to zero, then checks if x%3 is also zero
        print('Divisible by 2 and 3')
    else:
        print('Divisible by 2 and not by 3')
elif x%3 == 0:
    print('Divisible by 3 and not by 2')
else:
    print('Not divisible by either 2 or 3')

Not divisible by either 2 or 3