<a href="https://colab.research.google.com/github/JulianaGeyer-Kim/Project-1/blob/main/Midterm_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following codes covers all notes and exercises during class for Lectures 1-4

Dictionaries are data structures that store values in keys, which are unique and immutable. Dictionaries are mutable. Values are mutable or immutable, they can store anything. The placement of the {} does not matter. See the following 2 dictionaries below with the different placeholders.

del: funtion used to delete key and value from the dictionary

.keys()
.values()
.items()

-when using an f-string with dictionaries, reference the name of the dictionary with the key in the format dictName[key]

In [ ]:
grades = {
    'Alice' : 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
    #keys are immutable and unique, duplicate keys do not exist
          }

grades = {
    'Alice' : 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
 }

grades["Alice"] = 100 #this changes value in dictionary using the key
print(grades)

del grades ['Alice']
print(grades)


for key in grades.keys():
  print(key)

for value in grades.values():
  print(value)

for item in grades.items():
  print(item)

{'Alice': 100, 'Bob': 88, 'Tracy': 93, 'Erik': 90}
{'Bob': 88, 'Tracy': 93, 'Erik': 90}
Bob
Tracy
Erik
88
93
90
('Bob', 88)
('Tracy', 93)
('Erik', 90)

Lists are mutable. They are composed of items of any type (int, float, string)

The methods below can also be used for dictionaries and tuples:
-len() output is the length of the list
-.sort() sorts the list in ascending order
-you can also add an item to the list
-.append([])
-.extend([])
-.pop()

In [ ]:
L1 = ['hadabobo', "dog", 5, 6.0]
len(L1)
print(L1)

L2 = [2345,66,2,78,4]
L2.sort()
print(L2)
L2.sort(reverse = True)
print(L2)

L2 + ["rara"]

color = "blue"
number = 5

print('My favorite color {}, my favorite number {}'.format(color,number))

['hadabobo', 'dog', 5, 6.0]
[2, 4, 66, 78, 2345]
[2345, 78, 66, 4, 2]
My favorite color blue, my favorite number 5

In [ ]:
list = [1,2,3,"rata"]
list2 = [1,2,3,"rata"]

list.append(["awesome", 9])


list2.extend(["awesome", 9])
print(list)

list3 = [1,2,4,5]
list3.pop()
print(list3)

[1, 2, 3, 'rata', ['awesome', 9]]
[1, 2, 4]

In [ ]:
#use f strings to print out the day associated with the month. Make float the key

date = {
1.0 : "Jan",
2.0 : "Feb",
3.0 : "March"

}

date

date = {1: 'Jan', 2: 'Feb', 3: 'March' }
date

print(f'The first month in a year is {date[1]}, the second month is {date[2]}, and the third month is {date[3]}')

The first month in a year is Jan, the second month is Feb, and the third month is March

ITERATIONS:
FOR LOOP VS WHILE LOOP: for loops have definite amount of times they run through, while loops can be infinite. There are not set amounts of iterations

Task: create a **FOR LOOP** that has a basefee and an hourly fee. The basefee is 5 and the hourly is 11.25. use in range(1,9,1) and make totalfee equal to 5 + 2.5 * hourlyfee

if totalfee is less than 10, print "it is 10"
if it is not less than 10, print "it is 20"

print hours parked and totalfee


```
# This is formatted as code
```

In [ ]:
baseFee = 5
hourlyFee = 11.25

for answer in range(1,9,1):
  totalFee = 5 + 2.5 * hourlyFee
  print(f'hourly fee is {hourlyFee} and the total fee is {totalFee}')

if totalFee < 10:
  print('it is 10')

else:
  print('it is 20')

hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
hourly fee is 11.25 and the total fee is 33.125
it is 20

In [1]:
x = 1
y = 2

while x <= y:
  x = x + 1
  print(x)
'''
FIRST LOOP:
1 <= 2 --true
x = 1 + 1 = 2 --this is the new x used in the second loop
print 2

SECOND LOOP:
2 <= 2
TRUE
x = 2 + 1 = 3 --new x used in third loop
print 3

THIRD LOOP:
3 <= 2
FALSE
do not print x

'''

2
3

'\nFIRST LOOP:\n1 <= 2 --true\nx = 1 + 1 = 2 --this is the new x used in the second loop\nprint 2\n\nSECOND LOOP:\n2 <= 2\nTRUE\nx = 2 + 1 = 3 --new x used in third loop\nprint 3\n\nTHIRD LOOP:\n3 <= 2\nFALSE\ndo not print x\n\n'

Using conditionals, create a rock, paper, scissors exercise.

-random.choice only works when there is an import random at the top. input the choices with ([]) format

In [ ]:
L + ['three', 9.99, 0] #concatenation, this creates a new list

s = "bree"
#s[0] = 'k' #returns error because strings are immutalbe

A = [1,2,3,4]
B = [1,2,7,8]
for item in A:
  if item in B:
    A.remove(item)
print(A)
#only runs once, does not continue forever

[2, 3, 4]

In [ ]:

s = "abcdef"
len(s) #this calculates the number of characters within the string, aka 7
print(len(s))

s[3] #indexing

this_word = s[: 4] #when start value is missing, the start value is impplied to be zero

#this_word = s[0 : 4]

test_word = s[10:14] #14 doesnt exist technically, WHEN SLICING, THE END IS THE DEFAULT LENGTH OF THE STRING
#test_word = s[10:]

print(this_word,test_word)

s[:]
print(s[:])

s3 = 'abc'

s3 * 2
'''IMPORTANT
you can only multiply a string with integers, not floats, boolean, etc...

strings are immutable

when adding string together or multiplying an integer by a string, the result is a new string, unrelated to the previous strings


you can't add string with non-string objects

'''

6
abcd
abcdef

"IMPORTANT\nyou can only multiply a string with integers, not floats, boolean, etc...\n\nstrings are immutable\n\nwhen adding string together or multiplying an integer by a string, the result is a new string, unrelated to the previous strings\n\n\nyou can't add string with non-string objects\n\n"

In [ ]:
if x%2 == 0: # <-- first checks if x%2 equals to zero
    if x%3 == 0: # <-- if x%2 indeed equals to zero, then checks if x%3 is also zero
        print('Divisible by 2 and 3')
    else:
        print('Divisible by 2 and not by 3')
elif x%3 == 0:
    print('Divisible by 3 and not by 2')
else:
    print('Not divisible by either 2 or 3')

In [ ]:
a = 'abc'

"a" in 'abc'

In [ ]:
for i in range(5, 30): # creates a range of values
  print(i) #assigns 5 to i in first iteration, prints 5-29 because end is exclusive

In [ ]:
#the following code prints out characters that both strings have in common
s1 = 'abcdef'

s2 = 'abdrig'


for index in range(len(s1)):
  if(s1[index] in s2):
   print(s1[index])

#this does the same thing
s1 = 'abcdefg'

s2 = 'abdright'

for char in s1[index] and s2[index]:
   print(char)