<a href="https://colab.research.google.com/github/JulianaGeyer-Kim/Project-1/blob/main/More_Python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:



'''
syntax of while loop:


while condition
  statement

  '''

In [ ]:


#/n skips lines, /n /n skips 2 lines
#use print('') to print something, turns values into strings, known as type-casting
dog = 5
cat = 10
print('x = ', x)
print (' x + y = ', dog + cat)


#.format prints non-string objects. In this case, it prints a, b, and c
a = 15
b = 15.3456
c = 'Python'
print(r'this is an integer {:d}'.format(a))
print(r'this is a float {:f}'.format(b))
print(r'this is a string {:s}'.format(c))

#use commas when there is more than one object
pi = 3.14
e = 2.71
print('The value of pi is', pi, 'and the value of Euler number is', e)



#obj.method("hadabobo {}{}" .format(x,y))
#since there are 2 placeholders, which are represented by {}, there must be 2 variables in the (). This assigns objects to variables

f" {x} {y}"

s= p'animal
a= mouse.format

#input() function:

SyntaxError: unterminated string literal (detected at line 29) (<ipython-input-11-6d74f1e1a1ba>, line 29)

In [ ]:
!pip install ColabTurtlePlus

from ColabTurtlePlus.Turtle import *

clearscreen() #clears the screen continuously

color('Black', 'green')
begin_fill()
jumpto(0,0)



for var in range(4): #this displays the for loop, which requires indents to operate. It performs what is in the loop (# times performed)
  forward(100)
  left(90)


end_fill()

'''
range(start, end, step) ---> only creates int, returns sequences of integer numbers
start of the sequence of the function range, end of the sequence, distance between values in the sequence is the step
start by default is 0, step by default is 1!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

start
start + step
start + 2step
.
.
.
.
start +


'''

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

'\n#range(start, end, step) ---> only creates int, returns sequences of integer numbers\n#start of the sequence of the function range, end of the sequence, distance between values in the sequence is the step\n#start by default is 0, step by default is 1!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!\n'

In [ ]:
for i in range(5, 40, 10): # creates a range of values
  print(i) #assigns 5 to i in first iteration

  '''second iteration: 15----> start + step = 5 + 10 = 15
third iteration: 15 + 10 = 25
fourth iteration: 35
fifth iteration: 45---> sequence has surpassed end value, ONLY up to 35 returns
'''

5
15
25
35

In [ ]:
for i in range(1, 13, 1):
  print(i)


'''
1st: 1 + 1 = 2
2nd: 3

stops at 12 because it starts at 0.       0,1,2,3,4,5,6,7,8,9,10,11,12----> this is 13 values in total, as provided in the end value
'''

1
2
3
4
5
6
7
8
9
10
11
12

'\n1st: 1 + 1 = 2\n2nd: 3\n\n\n'

In [ ]:
for i in range(10,5,-1): #for loops must have a colon
  print(i)


'''
FORMAT SYNTAX = for variable in range(sequence):
  code block

sequences and for loops: used when the number of iterations is knwon in advance, finite

step value must be negative if there is a decreasing range

'''

10
9
8
7
6

'\nstep value must be negative if there is a decreasing range\n\n'

In [ ]:
for i in range(5 , 30, 5): # creates a range of values
  print(i) #assigns 5 to i in first iteration

  '''
  start value, end value, number of iterations


  second iteration: 10----> start + step = 5 + 5 = 10
third iteration: 10 + 5 = 15
fourth iteration: 20 ---> 15 + 5
fifth iteration: 25---> 20 + 5 sequence has surpassed end value, ONLY up to 25 returns

'''

5
10
15
20
25

In [ ]:
for i in range(5, 30): # creates a range of values
  print(i) #assigns 5 to i in first iteration

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
int age:
if (age > 25 and n_status == "single" or assets > 10000):
  print("elligible for loan")

NameError: name 'age' is not defined

In [ ]:
#find the smallest variable
x = 1
y = 2
z = 3

if x > y:
  print('it is not x')

if y > z:
  print('it is not y')
  print('smallest variable is z')

In [ ]:
answer = min(x, y, z)
if x% 2 0: