<a href="https://colab.research.google.com/github/JulianaGeyer-Kim/Project-1/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
grades = {
    'Alice' : 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
    #keys are immutable and unique, duplicate keys do not exist
          }

In [8]:

del grades ['Alice']
grades

{'Bob': 88, 'Tracy': 93, 'Erik': 90}

In [14]:
'''
dot method

key method----- key()
values()---returns list of all of the values in the dictionary
items()---returns both lists of keys and values at the same time
'''

for key in grades.keys():
  print(key)


for value in grades.values():
  print(value)

for key, value in grades.items():
  print(key, value)


#print{f'Key: {key}, Value: {Value}} ----> check parenthesis

Bob
Tracy
Erik
88
93
90
Bob 88
Tracy 93
Erik 90

In [17]:
months = (1.0: "January", 2: "Febuary", 3: "March")

print(f'The first month in a year is (months[1])')

SyntaxError: invalid syntax (<ipython-input-17-504dca8e1c85>, line 1)

In [18]:
1 ==1.0

True

In [28]:
months = {} #this is an empty dictionary

#use a for loop, where on each iteration, add a new key value to months

numbers = [1,2,3,4,5,6,7,8,9,10,11,12] #keys

names = ["Jan", "Feb ", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"] #values


#months[] = names

for num in range(1, 13, 1):
  months[num] = names[num - 1]
print(months)


#for numbers, names in months.items(): ---> THERE ARE NO KEYS, ITEMS, SINCE IT IS AN EMPTY DICTIONARY
 # print(numbers, names)

{1: 'Jan', 2: 'Feb ', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}